# IDEs
.idea/
*.iml
.vscode/
.fleet/

# Build outputs
build/
**/build/
.gradle/
**/.gradle/
local.properties

# Android
*.apk
*.aab
captures/

# iOS / Xcode
xcuserdata/
DerivedData/
**/Pods/
*.xcworkspace/xcshareddata/swiftpm/
.swiftpm/

# Kotlin / Native
.kotlin/
**/.kotlin/

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/

# Secrets
*.keystore
*.jks
